# 03 - Feature Engineering

### Import packages

In [1]:
# Import packages
import os
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import matplotlib.pyplot as plt
from pathlib import Path
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

# Set base directory 
base_dir = Path(os.getcwd()).parent

# Set default figure directory
fig_dir = base_dir / "figures"
fig_dir.mkdir(parents=True, exist_ok=True)

# Set matplotlib backend to PDF-friendly (optional, for consistent rendering)
plt.rcParams["pdf.fonttype"] = 42  # Ensures text is saved as text (not paths)
plt.rcParams["ps.fonttype"] = 42

### Load data

In [2]:
# Load the dataset
data_dir = base_dir / "data" 
data_file = data_dir / "processed" / "HR_capstone_dataset_no_outliers.csv"

# Read the cleaned CSV file into a pandas DataFrame
df_cleaned = pd.read_csv(data_file)

In [3]:
df_cleaned.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,has_left_company,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,No Accident,Left,Not promoted,sales,low
1,0.11,0.88,7,272,4,No Accident,Left,Not promoted,sales,medium
2,0.72,0.87,5,223,5,No Accident,Left,Not promoted,sales,low
3,0.37,0.52,2,159,3,No Accident,Left,Not promoted,sales,low
4,0.41,0.50,2,153,3,No Accident,Left,Not promoted,sales,low